@import "hElements.scss";

.contact-main-container {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact-points {
  padding: 0;
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1);
  grid-template-rows: repeat(10, 1);
}
.contact-info {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contact-info-text {
  width: 40vw;
  padding-right: 30px;
  font-family: $secondary-font;
}
