@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:wght@200;400;700&family=Montserrat:wght@200;300;400;600;&display=swap");
@import "mixins.scss";
$font: "DM Mono", monospace;
$secondary-font: "DM Sans", sans-serif;
$tertiary-font: "Montserrat", sans-serif;
$font-color: #fff8eb;
$background-color: #918f8f;
$background-color-transparent: rgba(143, 143, 143, 0.9);

$accent-color: #f5bb50;
$overall-margins: 40px;
$secondary-margins: 30px;
$bottom-margins: 120px;
$left-side-proportion: 66%;
$right-side-proportion: 34%;

:root {
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: $background-color;
  scrollbar-width: none;
  color: $font-color;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: $font;
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-family: $font;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
  text-align: justify;
}

h3 {
  font-family: $tertiary-font;
  font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: justify;
}

h4 {
  font-family: $tertiary-font;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
}

h5 {
  @include paragraph;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
}

h6 {
  @include paragraph;
  margin-top: 0px;
  text-align: justify;
}

.italic {
  font-style: italic;
}
