    
    $font: raleway, sans-serif;
    $secondary-font : raleway, sans-serif;
    $font-color:black;
    $font-light-color:#7f7d7d;
    $sec-color:#f5bb50;
    $third-color:#3227A8;
    $--navbar-height:60px;
    $--navbar-height-dim:60px;
    $--homepage-message-width:800px;
    
    h1 {    
        font-family: $font;
        font-size : 72px;
        font-weight : 600;
        padding-bottom :20px;
        margin-bottom : 0px;
        margin-top : 0px;
    }
    h2 {    
        font-family: $font;
        font-size : 36px;
        font-weight : 400;
        margin-bottom :0px;
        padding-bottom:20px;
        margin-top:0px;
        text-align:justify;
    }
    
    h3{
        font-family: $font;
        font-size : 30px;
        font-weight : 400;
        margin-top: 0px;
        margin-bottom : 5px;
        text-align:justify;
    }
    
    h4{
        font-family: $font;
        font-size : 24px;
        font-weight : 400;
        margin-top: 0px;
        margin-bottom : 3px;
        text-align:justify;
    }
    
    h5{
        font-family: $font;
        font-size : 18px;
        font-weight : 400;
        margin-top: 0px;
        margin-bottom : 3px;
        text-align:justify;
        line-height: 1.5;
    }
    
    h6 {
        font-family: $font;
        font-size : 16px;
        font-weight : 400;
        margin-top: 0px;
        text-align:justify;
    }

    