@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:wght@200;400;700&family=Montserrat:wght@100;200;400&display=swap");

$font: "DM Mono", monospace;
$secondary-font: "DM Sans", sans-serif;
$tertiary-font: "Montserrat", sans-serif;
$font-color: #fff8eb;
$background-color: #918f8f;
$accent-color: #f5bb50;
$overall-margins: 40px;
$left-side-proportion: 66%;

@mixin menu-links {
  font-family: $tertiary-font;
  color: $font-color;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: 7px;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: $background-color;
  overflow: hidden;
}

h1 {
  font-family: $font;
  font-size: 72px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-family: $font;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
  text-align: justify;
}

h3 {
  font-family: $font;
  font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: justify;
}

h4 {
  font-family: $font;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
}

h5 {
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
  line-height: 1.5;
}

h6 {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  text-align: justify;
}
