@import "hElements.scss";

@keyframes disappearAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
.disappear {
  transition: transform 0.3s ease;
  transform: translateX(-100vw);
}
.disappear-transition {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.grid-filler {
  height: 20vh;
}

.hero-section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 100vh;
}

.hero-section-image {
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.hero-section-message-container {
  width: $left-side-proportion;
  margin: 10vw 0 10vw 0;
}

.hero-section-message-wrap {
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  flex-direction: row;

  h1 {
    padding-right: 1em;
  }
}
.hero-section-message-accent {
  @include hero-section;
  color: $accent-color;
  font-weight: 500;
}
.hero-section-message-italic {
  @include hero-section;
  font-style: italic;
  font-weight: 300;
}

.hero-section-picture {
  flex: 1;
  height: 70vh;

  opacity: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepage-main-grid {
  top: 0;
  margin: 0 $overall-margins;
  position: absolute;
  display: grid;

  pointer-events: none;
  grid-template-columns: $left-side-proportion auto;
  grid-template-rows: 100vh 20vh 100% 20vh 100vh;

  z-index: -1;
  transition: transform 0.3s ease;
  transition: opacity 0.3s ease;
}
