@mixin menu-links {
  font-family: $tertiary-font;
  color: $font-color;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: 7px;
  font-size: 14px;
}

@mixin hero-section {
  font-family: $font;
  font-size: 60px;
}
@mixin paragraph {
  color: var(--Off-White, #fff8eb);
  /* Contact paragraph */
  font-family: $tertiary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.4em;
  letter-spacing: 2px;
}
