@import "hElements.scss";
@import "mixins.scss";

.disappear {
  transition: opacity $fade-time ease;
  transition: background-color $fade-time ease;
  opacity: 0%;
}

.hamburger {
  z-index: 99;
  pointer-events: all;

  margin-right: $overall-margins;
  @media (max-width: $media-breaking-point) {
    margin-right: 20px;
  }

  &:hover {
    transition: transform 0.1s ease;
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }
  div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: $accent-color;
  }

  opacity: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  position: fixed;
  bottom: 0;

  pointer-events: none;
  z-index: 99;
  @media (max-width: $media-breaking-point) {
    top: 0;
    height: 100vh;
  }
}

.navbar-links-inactive {
  color: $font-color;
  text-decoration: none;
  @include menu-links;
  letter-spacing: 7px;
  font-size: 14px;
  pointer-events: all;
}

.navbar-links-active {
  color: $font-color;
  padding-right: -7px;
  @include menu-links;
  letter-spacing: 7px;
  font-size: 14px;
  pointer-events: all;
  &:hover {
    font-weight: 600;
    cursor: pointer;
  }
}

.navbar-menu {
  margin: 0;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $font;
  background-color: $background-color-transparent;
  z-index: 99;
  border-top: 1px $font-color solid;
  box-shadow: -5px -5px 60px $background-color, 5px 5px 10px $background-color;

  &.disappear {
    transition: background-color 0.2s ease;
    opacity: 100%;
    background-color: rgba(100, 100, 100, 0);
    border-top: none;
    box-shadow: none;
  }
}

.navbar-menu > ul {
  padding: 20px 0 20px 0;
  margin: 0 $overall-margins 0 $overall-margins;
  @media (max-width: $media-breaking-point) {
    margin: 0 20px 0 20px;
  }

  width: $left-side-proportion;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
  pointer-events: all;

  li {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: fit-content;
  }

  li::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  li::before {
    content: " ";
    display: block;
    position: absolute;
    margin: -5px;
    border-radius: 5px;
    inset: 0 0 0 0;
    background: $accent-color;
    z-index: -1;
    transition: transform 0.3s ease;
  }
}

.navbar-side-info {
  margin: $overall-margins;
  @media (max-width: $media-breaking-point) {
    margin: 20px;
  }

  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar-side-info-top {
  display: flex;
  @include hero-section;
  font-size: 40px;
  @media (max-width: $media-breaking-point) {
    font-size: 30px;
  }
  padding-right: $secondary-margins;
}

.navbar-side-info-side {
  display: flex;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  right: 0;
  @include menu-links;

  letter-spacing: 7px;
  font-size: 14px;

  margin: 0;
  @media (max-width: $media-breaking-point) {
    letter-spacing: 5px;
    font-size: 10px;
  }
}

.navbar-visible {
  z-index: 90;
  transition: opacity 0.3s ease;
}
