@import "hElements.scss";

.hamburger {
  border: solid brown;
  div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: $accent-color;
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100vw;
  height: 100%;
  position: fixed;
  bottom: 0;
  border: solid red;
}

.navbar-links-inactive {
  color: $font-color;
}

.navbar-links-active {
  color: $accent-color;
}

.navbar-menu {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font;
  margin: $overall-margins;

  ul {
    width: $left-side-proportion;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    li {
      margin: 0;
      @include menu-links;
      a {
        text-decoration: none;
      }
    }
  }
}
