@import "hElements.scss";
.project-description-container {
  display: flex;
}
.project-description-enter {
  opacity: 0;
}

.project-description-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.project-description-exit {
  opacity: 1;
}

.project-description-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.projects-image {
  width: $left-side-proportion;
  padding: 40px 0 0 0;
  margin: 0;
  pointer-events: all;
}
.projects-info {
  width: $right-side-proportion;
  display: flex;
  flex-direction: column;
  margin-right: (2 * $secondary-margins);
  margin-left: $secondary-margins;
  pointer-events: all;
}

.projects-individual-project {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.projects-main-container {
  grid-row: 3/4;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.projects-title {
}
