@import "hElements.scss";

.link-image {
  height: 100%;
  width: 100px;
  transition: transform 0.1s ease;
  transform-origin: center center;
  transform: scale(0.95, 0.95);
  &:hover {
    transition: transform 0.1s ease;
    transform: scale(1, 1);
    transform-origin: center center;
  }
}

//Additional images----------------------
.projects-additional-images-base {
  width: 100%;
  margin-top: $overall-margins;
  cursor: pointer;
  transition: transform 0.1s ease;
  transform-origin: center center;
  transform: scale(0.97, 0.97);
  &:hover {
    transition: transform 0.1s ease;
    transform: scale(1, 1);
    transform-origin: center center;
  }
}
.projects-additional-images-container {
  width: 100%;
}
.projects-additional-images-enter,
.projects-additional-images-appear {
  transform: translateY(100vh);
  transform-origin: bottom right;
  opacity: 0;
}
.projects-additional-images-enter-active,
.projects-additional-images-appear-active {
  transform: translateY(0);
  transform-origin: bottom right;
  opacity: 1;
  transition: transform $fade-time ease, opacity $fade-time ease;
}
.projects-additional-images-exit {
  opacity: 1;
}
.projects-additional-images-exit-active {
  transition: opacity $fade-time ease;
  opacity: 0;
}

//Project description ----------------------
.projects-description-container {
  display: flex;
}
.projects-description-appear,
.projects-description-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom right;
}
.projects-description-appear-active,
.projects-description-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top right;
  transition: transform $fade-time ease, opacity $fade-time;
}

.projects-description-enter-done {
  opacity: 1;
  transform: scaleY(1);
}

.projects-description-exit {
  opacity: 1;
  transform: scaleY(1);
}

.projects-description-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform $fade-time ease, opacity $fade-time;
}

.projects-description-exit-done {
  opacity: 0;
  transform: scaleY(0);
  height: 0;
}
.projects-image-container {
  padding: $overall-margins 0 0 0;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: $left-side-proportion;
  z-index: 1;
  @media (max-width: $media-breaking-point) {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    width: 90%;
  }
}
.projects-info {
  width: $right-side-proportion;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: $overall-margins;
  margin-right: (2 * $secondary-margins);
  margin-left: $secondary-margins;
  pointer-events: all;
  @media (max-width: $media-breaking-point) {
    padding: 0;
    padding-top: 15px;
    margin: 0;
    width: 90%;
  }
}
.projects-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100px;

  a {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-right: 20px;
  }
  a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  a::before {
    content: " ";
    display: block;
    position: absolute;
    margin: -5px;
    border-radius: 5px;
    inset: 0 0 0 0;
    background: $accent-color;
    z-index: -1;
    transition: transform 0.3s ease;
  }
}

.projects-individual-project {
  width: 100%;
  display: flex;
  // flex: 2 1 auto;
  flex-direction: row;
  height: 100%;

  // background-color: khaki;
  align-items: top;
  justify-content: space-between;
  pointer-events: all;
  @media (max-width: $media-breaking-point) {
    flex-direction: column-reverse;
  }
}

.projects-main-container {
  // grid-row: 3/4;
  // grid-column: 1/3;
  padding: 100vh 0 0 0;
  display: flex;
  flex-direction: column;
}
.projects-main-image {
  width: 100%;
  z-index: 10;
  cursor: pointer;

  transition: transform 0.1s ease;
  transform-origin: center center;
  transform: scale(0.97, 0.97);
  &:hover {
    transition: transform 0.1s ease;
    transform: scale(1, 1);
    transform-origin: center center;
  }
  @media (max-width: $media-breaking-point) {
    transform: scale(1, 1);
  }
}
.projects-main-scrollbehavior {
  overflow: auto;
  // overscroll-behavior-block: contain;
  height: 100vh;
  scrollbar-width: none;
}
.projects-main-scrollbehavior::-webkit-scrollbar {
  display: none;
}
.projects-return-container {
  height: fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.projects-return-container::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.projects-return-container:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects-return-container::before {
  content: " ";
  display: block;
  position: absolute;
  margin: -5px;
  border-radius: 5px;
  inset: 0 0 0 0;
  background: $accent-color;
  z-index: -1;
  transition: transform 0.3s ease;
}

.projects-return-image {
  height: fit-content;
  width: fit-content;
  transition: transform 0.1s ease;
  transform-origin: center center;
  transform: scale(0.95, 0.95);
  position: relative;
  &:hover {
    transition: transform 0.1s ease;
    transform: scale(1, 1);
    transform-origin: center center;
  }
}
.projects-spacer {
  width: 100%;
  margin: 2vh 0 2vh 0;
  border-top: 1px $font-color solid;
}
.projects-main-title {
  color: $accent-color;
  font-weight: 600;
  text-decoration: underline;
}

.projects-title {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @media (max-width: $media-breaking-point) {
    width: 100%;
    font-size: 30px;
  }
}
