$font: raleway, sans-serif;
$secondary-font : raleway, sans-serif;
$font-color:black;
$font-light-color:#7f7d7d;

a{
    outline: none;
    text-decoration: none;
    color: $font-color;
}

.background-img{
    height : 100vh;
    position :absolute;
    top : 50px;
    width : 100vw;
    z-index: -1;
}

body{
    font-style : $font;
    overflow-x: hidden;
}

.body-frame {
    margin : 40px;
}

.credits {
    color:grey;
    right: 50%;
    font-size : 7px;
}

.french-font{
    color: $font-light-color;
}

.main-container{
    width : 50%;
    height : 90vh;
    /* background-color: red; */
    display : flex;
    flex-direction: column;
    justify-content: center;
    
}

h2 {    
    font-family: $font;
    font-size : 48px;
    font-weight : 400;
    margin-bottom :0px;
    padding-bottom:20px;
}

h3{
    font-family: $font;
    font-size : 36px;
    font-weight : 400;
    margin-top: 0px;
}

.navbar-default{
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding-bottom : 40px;
    
    & .main-title {
        font-size: 28px;
        font-family: raleway, sans-serif;
        font-weight: 800;
        letter-spacing: 3px;
    }
        
    & ul {
        display : flex;
        flex-direction: row;
        justify-content: flex-end; 
        list-style-type: none;

        & li {
            font-family: raleway, sans-serif;
            font-size: 16px;
            font-weight : 300;
            padding : 0 30px 0 0;  
        }
    }

}

