h1 {
  font-family: raleway, sans-serif;
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-family: raleway, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
  text-align: justify;
}

h3 {
  font-family: raleway, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: justify;
}

h4 {
  font-family: raleway, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
}

h5 {
  font-family: raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 3px;
  text-align: justify;
  line-height: 1.5;
}

h6 {
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: black;
  font-family: raleway, sans-serif;
}

.blog-article-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-embedded-link {
  font-weight: bold;
  color: #f5bb50;
  text-decoration: underline;
}

.blog-full-width-img {
  width: 100%;
}

body {
  font-style: raleway, sans-serif;
  overflow-x: hidden;
}

.body-content {
  padding-top: 60px;
}

@media screen and (max-width: 600px) {
  .body-content {
    padding-top: 60px;
  }
}

.body-frame {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 40px;
  min-width: 300px;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-links a {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .contact-links a {
    font-size: 18px;
  }
}

.contact-main {
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-welcome-message {
  width: 40%;
  min-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.credits {
  color: grey;
  right: 50%;
  font-size: 7px;
}

.cv-ed-exp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.cv-ed-exp-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cv-date-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cv-date-location h5 {
  text-align: right;
}

.cv-divider {
  height: 1px;
  background-color: #dfdfdf;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 88%;
}

.cv-first-column {
  width: 550px;
  padding-bottom: 20px;
}

.cv-global-container {
  width: 100%;
}

.cv-second-column {
  width: 88%;
  max-width: 800px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cv-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 0px;
}

.cv-work-xp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.cv-work-xp-paragraph {
  margin: 0px 0px 35px 0px;
}

.light-font {
  color: #7f7d7d;
}

.hp-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
}

.hp-description h1, .hp-description h2 {
  text-align: justify;
}

.hp-description h1 {
  text-justify: distribute;
}

.hp-img {
  max-height: 50vh;
  max-width: 100%;
}

.hp-img-ctn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5bb50;
  margin: 30px;
}

.hp-main-container {
  width: 100%;
  /* background-color: red; */
  /* display : flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;    
    justify-content: space-between;    */
}

.navbar-active {
  color: #f5bb50;
}

.navbar-default {
  position: fixed;
  width: 88vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0px;
  left: 0px;
  right: 0;
  margin: 0 6vw 0 6vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.navbar-default .navbar-main-title {
  font-size: 28px;
  font-family: raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 10px 0px;
}

.navbar-elt:hover {
  color: #f5bb50;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  padding-left: 0px;
  margin: 1px;
}

.navbar-links ul li {
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 0 30px 0 0;
}

@media screen and (max-width: 600px) and (max-width: 600px) {
  .navbar-default {
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-default .navbar-main-title {
    font-size: 20px;
  }
  .navbar-links ul li {
    font-size: 12px;
  }
}
/*# sourceMappingURL=general.css.map */